/** Global */
html {
    overflow-y: overlay;
    overflow-x: hidden;
    background-color: #ff61061f;
}

::-webkit-scrollbar {
    width: 8px;
    height: 100%;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.329);
}

::-webkit-scrollbar-track {
    background-color: #ffdfbb;
}

body {
    font-family: "H", "Trebuchet MS", Helvetica;
    font-size: 100%;
    line-height: 1.5;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    align-self: flex-start;
    margin-left: 50px;
}

h2 {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 135px);
    margin-left: 15vw;
    margin-right: 15vw;
    position: relative;
    font-size: 1.20rem;
    color: brown;
    text-shadow: 1px 1px 2px  #919191;
}

button {
    border: none;
    color: #ffffff;
    background: brown;
    border-radius: 8px;
    font-size: x-large;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    box-shadow: 2px 2px 3px 0px #919191;
}

button:hover {
    background-color: #6d3f2a
}

button:active {
    background-color: #46341c
}

/** Navigation */
.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    font-weight: bold;
    position: sticky;
    background-color: #dfa55a;
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 6px 0px #919191;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vw;
    margin-top: 20px;
    font-size: 1.3rem;
    height: fit-content;
    width: fit-content;
}

.nav-userinfo {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
}

.Navigation a {
    color: brown;
}

.Navigation a:hover {
    color: #be632e;
}

.Navigation a:active {
    color: #df6743;
}

.nav-userinfo a {
    margin-right: 30px;
    text-decoration: none;
}

.nav-links a {
    margin-right: 50px;
    white-space: nowrap;
    text-decoration: none;
}

/** Left Menu */

.LeftMenu {
    position: sticky;
    top: 0;
    float: left;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin-top: 50px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    border-radius: 5px;
    z-index: 2;
    font-size: 1.2rem;
    background-color: rgb(248, 209, 135);
    box-shadow: 3px 3px 6px 0px #919191;

}

.LeftMenu a {
    display: block;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-decoration: none;
    text-align: center;
    color: brown;
    background-color: #dfa55a;
    height: fit-content;
    width: 180px;
    border-radius: 5px;
}

.LeftMenu a:hover {
    background-color: #cea671;
}

.LeftMenu a:active {
    background-color: #cc9b5c;
}

.product-list-menu {
    font-size: 1.1rem;
    margin: auto;
    margin-left: -10px;
}

.product-list-menu a {
    background-color: #ddad0f;
    width: 140px;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-list-menu a:hover {
    background-color: #ecc74a;
}

.product-list-menu a:active {
    background-color: #d6bc65;
}

/** Footer */

.Footer {
    clear: both;
    position: relative;
    text-align: center;
    width:100%;
    height: 60px;
    color: brown;
    text-shadow: 1px 1px 2px  #919191;
}

.Footer a {
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
    color: brown;
}

.Footer p {
    margin: 5px;
}

/** Credentials Form */

.CredentialsForm {
    position: relative;
    margin-top: 40px;
}

.CredentialsForm label {
    display: block;
    margin-bottom: 5px;
}

.CredentialsForm input {
    min-width: 250px;
    margin-bottom: 15px;
    min-height: 25px;
    font-size: 1rem;
    border-color: brown;
    border-style: solid;
    border-width: 1px;
}

.CredentialsForm button {
    display: block;
}

/** Products */

.HoneyProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97.7%;
}

.Product {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 430px;
    margin: 25px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 6px 0px #919191;
}

.Product:hover {
    width: 320px;
    height: 440px;
    margin: 15px;
    padding-top: 10px;
}

.Product img {
    max-width: 260px;
    max-height: 260px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.ProductInfo {
    width: 100%;
    text-align: center;
}

.ProductName {
    margin-top: 20px;
}

.PriceWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.ProductPrice {
    font-size: 1.8rem;
    margin-top: auto;
    margin-bottom: auto;
}