/** Global */
body {
    font-family: 'H', 'Trebuchet MS', Helvetica;
    font-size: 100%;
}

.main-container {
    display:inline-block;
    margin-left: 15vw;
    margin-right: 15vw;
    position: fixed;
    top: 15vh;
}

/** Navigation */
.Navigation {
    height: 10vh;
    min-height: fit-content;
    z-index: 1;
}

.nav-links {
    float: left;
    margin-left: 20vw;
    padding: 3vh;
    font-size: 1.2rem;
}

.nav-userinfo {
    float: right;
    font-size: 1.1rem;
}

.nav-userinfo a {
    display: inline-block;
    margin: 2px;
    width: 5vw;
    text-decoration: none;
}

.nav-links a {
    margin: 1.5vw;
    white-space: nowrap;
    text-decoration: none;
}

/** Left Menu */

.LeftMenu {
    display: inline-block;
    position: sticky;
    height: 100%;
    z-index: 2;
    top: 10vh;
    font-size: 1.2rem;
}

.LeftMenu a {
    display: block;
    white-space: nowrap;
    margin-left: 1vw;
    margin-top: 1vw;
    text-decoration: none;
}

.product-list-menu {
    font-size: 1.1rem;
    margin: auto;
}

/** Footer */

.Footer {
    clear: both;
    text-align: center;
    width:100%;
    bottom: 0;
    position: fixed;
}

.Footer a {
    margin-left: 1vw;
    margin-right: 1vw;
    white-space: nowrap;
    text-decoration: none;
}

.Footer p {
    margin-bottom: 3vh;
}